
form{
    margin:1%;
input{
    border:1px solid black;
    color:black;
    font-weight: bold;
    padding:4%;
    font-size: 1rem;
}
}
button{
    border:1px solid black;
    font-weight: bold;
    color:red;
    margin:1%;
    padding:4%;
}